<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PersonalRate</key>
	<dict>
		<key>HousingFund</key>
		<array>
			<string>12</string>
			<false/>
		</array>
		<key>MedicalInsurance</key>
		<array>
			<string>2</string>
			<true/>
		</array>
		<key>EndowmentInsurance</key>
		<array>
			<string>8</string>
			<true/>
		</array>
		<key>EmploymentInjuryInsurance</key>
		<array>
			<string>0</string>
			<true/>
		</array>
		<key>UnemploymentInsurance</key>
		<array>
			<string>0.2</string>
			<true/>
		</array>
		<key>MaternityInsurance</key>
		<array>
			<string>0</string>
			<true/>
		</array>
	</dict>
	<key>CompanyRate</key>
	<dict>
		<key>HousingFund</key>
		<array>
			<string>12</string>
			<true/>
		</array>
		<key>MedicalInsurance</key>
		<array>
			<string>10</string>
			<true/>
		</array>
		<key>EndowmentInsurance</key>
		<array>
			<string>20</string>
			<true/>
		</array>
		<key>EmploymentInjuryInsurance</key>
		<array>
			<string>0.3</string>
			<true/>
		</array>
		<key>UnemploymentInsurance</key>
		<array>
			<string>1</string>
			<true/>
		</array>
		<key>MaternityInsurance</key>
		<array>
			<string>0.8</string>
			<true/>
		</array>
	</dict>
	<key>InsuranceBase</key>
	<dict>
		<key>HousingFund</key>
		<array>
			<string>0</string>
		</array>
		<key>MedicalInsurance</key>
		<array>
			<string>0</string>
		</array>
		<key>EndowmentInsurance</key>
		<array>
			<string>0</string>
		</array>
		<key>EmploymentInjuryInsurance</key>
		<array>
			<string>0</string>
		</array>
		<key>UnemploymentInsurance</key>
		<array>
			<string>0</string>
		</array>
		<key>MaternityInsurance</key>
		<array>
			<string>0</string>
		</array>
	</dict>
	<key>CityBase</key>
	<dict>
		<key>BeiJing</key>
		<array>
			<string> 北京</string>
			<integer>17379</integer>
			<integer>2317</integer>
			<integer>3476</integer>
		</array>
		<key>ShangHai</key>
		<array>
			<string>上海</string>
			<integer>15108</integer>
			<integer>3022</integer>
			<integer>3022</integer>
		</array>
	</dict>
</dict>
</plist>
